@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 175%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}
a {
  color: #31547e;
}
.uk-badge {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  padding: 5px 8px;
  border-radius: 3px;
  background-color: #2BA3D4;
  font-size: 13px;
}
#banner {
  background-color: grey;
  height: 500px;
  position: relative;
  background: url(../images/banner-04.jpg) top center no-repeat;
  background-attachment: fixed;
}
#banner .site-title {
  width: 100%;
  position: absolute;
  top: 170px;
  font-family: 'Oswald', sans-serif;
}
#banner .site-title h1 {
  font-family: "Arvo", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 100px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  line-height: 100%;
}
#banner .site-title h3 {
  color: #ffffff;
  font-size: 35px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  line-height: 100%;
}
#banner .avatar-wrap {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -75px;
}
#banner .avatar-wrap .avatar img {
  background-color: white;
  padding: 3px;
  border-radius: 50%;
  border: 1px solid #eee;
  width: 150px;
}
.main-block {
  padding: 50px 0;
}
.grey-block {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  background-color: #fafafa;
}
#main-body {
  padding-top: 70px;
}
section .section-head h1 {
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 1.5em;
}
.work-img {
  border: 1px solid #ccc;
}
.social-buttons {
  margin-top: 40px;
}
.social-buttons a {
  margin-left: 5px;
  margin-right: 5px;
}
.section-body.uk-grid {
  margin-bottom: 75px;
}
#footer {
  padding-top: 150px;
  padding-bottom: 100px;
  background-color: #222;
  color: #ddd;
}
#footer .back a {
  color: #eee;
}
#footer .back a:hover {
  color: #999;
  text-decoration: none;
}
